body {
    background-color: lightblue;
}

button{
	width: 40%;
	border: none;
	margin-bottom: 5px;
	padding: 5px;
}

#whiteBtn{
	background-color: white;
}

#blackBtn{
	background-color: black;
	color: white;
}

#greyBtn{
	background-color: #7e7e7e;
	color: white;
}

#blueBtn{
	background-color: #80b4f7;
}

.mute-button{
	margin-top: 20px;
}

#muteBtn{
	width: 80%;
}

h1 {
    color: navy;
    margin-left: 20px;
}